<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Blog List</title>
</head>
<body>
  <!-- Nav Bar -->
  <nav class=" bg-blue-600 flex p-4 justify-between items-center">
    <div>
      <a href="" class="font-bold text-white text-3xl">AI Blog Generator</a>
    </div>
    <div class="flex gap-x-5">
      <a href="#" class="text-white">Welcome {{user.username}}</a>
      <a href="/blog-list" class="text-white">Saved Blog Posts</a>
      <a href="/logout" class="text-white">logout</a>
    </div>
  </nav>

  <!-- Main Section  -->
  <div class="flex justify-center ">
    <div class="bg-white shadow-md rounded-md mt-8 mx-4 max-w-[700px] flex flex-grow flex-col gap-4 p-4">

      <h2 class="text-2xl font-bold mb-3">All Blog Posts</h2>

      {% for article in blog_articles reversed%}
      <a href="blog-details/{{article.id}}">
        <div class="border border-gray-300 rounded-md p-3 text-justify">
          <h2 class="font-bold text-xl mb-1">{{article.youtube_title}}</h2>
          <p>{{article.generated_content|truncatechars:80}}</p>
        </div>
      </a>
      {% endfor %}
      
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="flex justify-center">
    <div class="bg-white shadow-md rounded-md m-4 max-w-[700px] flex flex-grow justify-center p-4">
      <p>Inspired By Tomi</p>
    </div>
  </footer>
</body>
</html>